.tabs-and-actions-container .editor-actions {
    display: none !important;
}

.window-appicon {
	display: none; !important
}

.tabs-and-actions-container .editor-actions {
    display: none !important;
}

.vs-dark .monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title.tabs:before {
  border: 0px !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-shrink>.monaco-icon-label>.monaco-icon-label-container {
	line-height: 26px;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions .action-label:not(span), .monaco-workbench .part.editor>.content .editor-group-container>.title .title-actions .action-label:not(span),
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab {
	height: 23px;
}

 .monaco-workbench .part.editor>.content .editor-group-container>.title {
    height: 25px;
    line-height: 23px;
}

.editor-group-container > .editor-container {
	height: calc(100% - 25px)!important;
}

.editor-group-container > .editor-container .monaco-editor,
.editor-group-container > .editor-container .monaco-editor > .overflow-guard,
.editor-group-container > .editor-container .monaco-editor > .overflow-guard > .monaco-scrollable-element
{
	height: 100%!important;
}
